<html>

<body style="margin: 0;">
    <%- script %>
    <!-- <script
        type="text/javascript">blogparts = { "base": "https://www.dlsite.com/", "type": "ranking", "site": "home", "query": { "period": "week" }, "title": "ランキング", "display": "vertical", "detail": "1", "column": "h", "image": "small", "count": "5", "wrapper": "1", "autorotate": false, "aid": "" }</script>
    <script type="text/javascript" src="https://www.dlsite.com/js/blogparts.js" charset="UTF-8"></script> -->
</body>

</html>